services:
    JG\BatchEntityImportBundle\Twig\TemplateExtension:
        public: true
        arguments: [ '%batch_entity_import.templates%' ]
        tags: [ twig.extension ]

    JG\BatchEntityImportBundle\Validator\Constraints\DatabaseEntityUniqueValidator:
        arguments: [ '@doctrine.orm.entity_manager' ]
        tags: [ validator.constraint_validator ]
    JG\BatchEntityImportBundle\Form\Type\ArrayTextType:
        arguments:
            $translator: '@translator'
        tags: ['form.type']
