name: Code Style

on: [ push, pull_request ]

jobs:
    pre_job:
        runs-on: ubuntu-latest
        outputs:
            should_skip: ${{ steps.skip_check.outputs.should_skip }}
        steps:
            - id: skip_check
              uses: fkirc/skip-duplicate-actions@v5
              with:
                  concurrent_skipping: always
                  skip_after_successful_duplicate: true
                  do_not_skip: '["pull_request"]'

    php-cs-fixer:
        name: PHP CS Fixer
        runs-on: ubuntu-latest
        needs: pre_job
        if: needs.pre_job.outputs.should_skip != 'true'

        steps:
            -   name: Prepare github actions
                uses: actions/checkout@v4

            -   name: Run PHP CS Fixer
                uses: docker://oskarstark/php-cs-fixer-ga
                with:
                    args: --diff --dry-run

    php-stan:
        name: PHPStan
        runs-on: ubuntu-latest
        needs:
            - pre_job
        if: needs.pre_job.outputs.should_skip != 'true'

        steps:
            -   name: Prepare github actions
                uses: actions/checkout@v4

            -   name: Get composer cache directory
                id: composer-cache
                run: echo "::set-output name=dir::$(composer config cache-files-dir)"

            -   name: Cache composer dependencies
                uses: actions/cache@v4
                with:
                    path: ${{ steps.composer-cache.outputs.dir }}
                    key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
                    restore-keys: ${{ runner.os }}-composer-

            -   name: Run composer
                uses: php-actions/composer@v6
                with:
                    php_version: 8.1
                    php_extensions: gd zip
                    memory_limit: -1
                    args: --no-progress --optimize-autoloader

            -   name: Run PHPStan
                uses: php-actions/phpstan@v3
                with:
                    path: src/
                    memory_limit: -1
                    php_version: 8.1
