name: Tests

on: [ push, pull_request ]

jobs:
    pre_job:
        runs-on: ubuntu-latest
        outputs:
            should_skip: ${{ steps.skip_check.outputs.should_skip }}
        steps:
            - id: skip_check
              uses: fkirc/skip-duplicate-actions@v5
              with:
                  concurrent_skipping: always
                  skip_after_successful_duplicate: true
                  do_not_skip: '["pull_request"]'

    tests:
        runs-on: ubuntu-latest
        name: Tests
        needs:
            - pre_job
        if: needs.pre_job.outputs.should_skip != 'true'

        strategy:
            fail-fast: false
            matrix:
                php-versions: [ '8.1', '8.3' ]
                vendors-version: [ '--prefer-lowest', '' ]

        steps:
            -   name: Prepare github actions
                uses: actions/checkout@v4

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-versions }}
                    tools: pecl,composer:v2
                    coverage: pcov

            -   name: Get composer cache directory
                id: composer-cache
                run: echo "::set-output name=dir::$(composer config cache-files-dir)"

            -   name: Cache composer dependencies
                uses: actions/cache@v4
                with:
                    path: ${{ steps.composer-cache.outputs.dir }}
                    key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
                    restore-keys: ${{ runner.os }}-composer-

            -   name: Run composer
                run: |
                    COMPOSER_MEMORY_LIMIT=-1 composer require knplabs/doctrine-behaviors --no-progress ${{ matrix.vendors-version }} --optimize-autoloader
                    COMPOSER_MEMORY_LIMIT=-1 composer update --no-progress ${{ matrix.vendors-version }} --optimize-autoloader

            -   name: Run tests
                run: composer tests-cov

            -   name: Upload coverage report
                run: bash <(curl -s https://codecov.io/bash)
